HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.gradle

.editorconfig

.data
.bloop
.ipynb_checkpoints
.venv
.metals
.env

__pycache__

**/*.class
**/*.jar
**/out
**/venv
**/*.log
**/*.gz
**/logs
**/.mvn
**/mvnw
**/mvnw.cmd

nohup.out

